<div class="mt-4 mb-4">
    <h3 class="text-center">--Thêm khóa học--</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Nhập tên khóa học">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <input type="text" id="description" name="description" class="form-control" placeholder="Nhập mô tả cho khóa học">
        </div>
        <div class="form-group">
            <label for="videoId">Video ID</label>
            <input type="text" id="videoId" name="videoId" class="form-control" placeholder="Nhập Video Id">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-books-medical"></i> Thêm khóa học</button>
    </form>
</div>