<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/img/avatar.png" alt="User Avatar" class="user-avatar">
            Khánh Nguyễn
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/courses/create"><i class="fas fa-books-medical"></i> Thêm khóa học</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses"><i class="fas fa-share-all"></i> Khóa học của tôi</a>
            <a class="dropdown-item" href="/me/stored/news"><i class="fas fa-newspaper"></i> Bài viết của tôi</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-sign-out"></i> Đăng xuất</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>